@import "tailwindcss";

@font-face {
	font-family: "sugar";
	src: url("/fonts/sugar/sugar.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.sugar {
	font-family: "sugar", sans-serif;
}

@keyframes slideUp {
	from {
		transform: translate(-50%, 100%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, 0%);
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		transform: translate(-50%, -100%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, 0%);
		opacity: 1;
	}
}

.animate-slide-up {
	animation: slideUp 0.9s ease-out forwards;
}

.animate-slide-down {
	animation: slideDown 0.9s ease-out forwards;
}
